<h1>Payment Calculation</h1>

<form action="/payment/result">
    <div>
        <label id ="apr_input">
            APR
        </label>
        
        <input id="apr_input" type="text" name="the_user_apr">     
    </div>
    
    <div>
        <label id ="years_input">
            Number of years
        </label>
        
        <input id="years_input" type="text" name="the_user_years">     
    </div>
    
    <div>
        <label id ="principal_input">
            Principal
        </label>
        
        <input id="principal_input" type="text" name="the_user_principal">     
    </div>
    
    <button>
        Calculate monthly payment
    </button>
</form>    

