<h1>Square Form Results</h1>

<dl>
    <dt>
        Number
    </dt>
    <dd>
        <%= @user_number %>
    </dd>
    <dt>
        Square
    </dt>
    <dd>
        <%= @squared_number.round(4) %>
    </dd>
    
</dl>     

<a href = "/square/new">
    Calculate another square
</a>

