<h1>Square Calculation</h1>

<form action="/square/result">
    <div>
        <label id ="number_input">
            Enter a number
        </label>
        
        <input id="number_input" type="text" name="the_user_number">     
    </div>
    <button>
        Calculate Square
    </button>
</form>    

