<h1>Square Calculation</h1>

<form>
    <div>
        <label>
            Enter a number
        </label>
        
        <input type="text">
    </div>
    <button>
        Calculate Square
    </button>
</form>    