<h1>Square Root Calculation</h1>

<form action="/squareroot/result">
    <div>
        <label for ="number_input">
            Enter a number
        </label>
        
        <input id="number_input" type="text" name="the_user_number">     
    </div>
    <button>
        Calculate Square Root
    </button>
</form>    

