<h1>Stats Calculation</h1>

<form action="/stats/result">
    
    <div>
        <label id ="number_input">
            Text
        </label>
        
        <input id="number_input" type="text" name="the_user_number">     
    </div>
    
    <button>
        Calculate descriptive statistics
    </button>
</form>    

