<h1>Word Count Calculation</h1>

<form action="/word/result">
    
    <div>
        <label id ="text_input">
            Text
        </label>
        
        <input id="text_input" type="text" name="the_user_text">     
    </div>
    
    <div>
        <label id ="word_input">
            Special word
        </label>
        
        <input id="word_input" type="text" name="the_user_word">     
    </div>
    
    <button>
        Process text
    </button>
</form>    

